.menu {
  position: relative;
  width: 280px;
  height: 280px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  /* gap: '20px';
    margin-left:'25px'; */
}

.menu .toggle {
  position: relative;
  background-color: #333;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  transition: 1.25s;
  z-index: 5;
}

.menu.active .toggle {
  transform: rotate(360deg);
  box-shadow: 0 0 0 2px #333;
}

.menu li {
  position: absolute;
  left: 0;
  list-style: none;
  transition: 0.5s;
  transform: rotate(calc(360deg / 11.5 * var(--i)));
  transform-origin: 160px;
  scale: 0;
  transition-delay: calc(0.05s * var(--i));
}

.menu.active li {
  scale: 1;
}

.menu li a {
  position: relative;
  display: flex;
  transform: rotate(calc(360deg + 360deg / -11.5 * var(--i)));
  width: 60px;
  height: 60px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.75rem;
  color: var(--clr);
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.25);
  transition: 0.5s;
}

.menu li:hover a {
  font-size: 2.5rem;
  box-shadow: 0 0 0 2px var(--clr);
}
